<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color: #5C637D;color: antiquewhite;" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: whitesmoke;" >{{menu}}</mat-toolbar>
    <mat-nav-list>
      <a  (click)="drawer.toggle()"  mat-list-item routerLink="">HOME</a>
      <a  (click)="drawer.toggle()"  mat-list-item routerLink="/setup/shift">SHIFT</a>
      <a  (click)="drawer.toggle()"  mat-list-item routerLink="/setup/role">ROLE</a>
      <a  (click)="drawer.toggle()" mat-list-item routerLink="/depart/list-department" >DEPARTMENTS</a>
      <a  (click)="drawer.toggle()" mat-list-item routerLink="/emp/employee-list" >EMPLOYEE LIST</a>
      <a  (click)="drawer.toggle()" mat-list-item routerLink="sites//list-site" >SITES</a>
      <a  (click)="drawer.toggle()" mat-list-item routerLink="attendance/mark-attendance" >MARK ATTENDANCE</a>
      <a  (click)="drawer.toggle()" mat-list-item routerLink="attendance/mark-attendance" >ADD INVENTORY</a>
      <a  (click)="drawer.toggle()" mat-list-item routerLink="attendance/mark-attendance" >ADD EXPENSE</a>
      <!-- <a  mat-list-item routerLink="reports/attendance-report">ATTENDANCE REPORT</a> -->
      <a  mat-list-item (click)="logout();drawer.toggle()" >LOGOUT</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #5C637D;color: antiquewhite;">
      <button
      style="border-radius: 100%;
      border-color: whitesmoke;
      background-color: white;"
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        
        <div  >
          <img aria-label="Side nav toggle icon"  src="../../../assets/Icons/kantha_logo.svg" alt="logo" height="40" width="40" >
        </div>
      
      </button>
     <span style="padding: 2px;font-weight:bold" >{{title}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- [ngClass]="{'center':!isLoggedIn}" -->
    <div clas="card" style="background-color: #e3eded;height:calc(98vh - 48px);;overflow: auto;"  >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>