<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color: #5C637D;color: antiquewhite;" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: whitesmoke;" >{{menu}}{{isLoggedIn}}</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="isLoggedIn"  mat-list-item routerLink="">HOME</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/site-list" >SITES</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/department-list" >DEPARTMENTS</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="attendance/mark-attendance" >MARK ATTENDANCE</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/employee-list" >EMPLOYEE LIST</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="reports/attendance-report">ATTENDANCE REPORT</a>
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout()" >LOGOUT</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #5C637D;color: antiquewhite;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
        <img  style="background-color: black;" src="src/assets/Icons/PAS_P40_Plant4.0_8.2_Assignasset.svg" alt="">
      </button>
      <b><i>{{title}}</i></b>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="background-color: #F3EFE9;" >
      <!-- <router-outlet></router-outlet> -->
      <button (click)="loader()" >Loadder</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>