<div class="container-fluid d-flex align-items-center justify-content-center" >
  <div class="card shadow-lg">
    <div class="card-header " style="background-color: #5F6780;" >
      <div style="display: flex;justify-content: center;" >
        <div class="logo"> 
          <img   src="../../../assets/Icons/kantha_logo.svg" alt="logo" height="100" width="100" >
        </div>
      </div>
      <!-- <h2 class=" text-center mb-4 mt-4"> <span style="font-weight: bold;font-size:50px;color:white">Login</span></h2> -->
    </div>
    <div class="card-body">

      <form [formGroup]="loginForm">
        <div class="form-group mt-4">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="user_name"
            placeholder="Enter username">
          <!-- <div *ngIf="!isLoggedIn && loginForm.controls.user_name.errors" class="text-danger">
              <div *ngIf="loginForm.controls.user_name.errors.required">Username is required.</div>
            </div> -->
        </div>
        <div class="form-group mt-4">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="pass_code"
            placeholder="Enter password">
          <!-- <div *ngIf="!isLoggedIn && loginForm.controls.pass_code.errors" class="text-danger">
                <div *ngIf="loginForm.controls.pass_code.errors.required">Password is required.</div>
            </div> -->
        </div>

      </form>
    </div>
    <div class="card-footer" style="display: flex;justify-content: center;">
      <button style="background-color: #5F6780;color:white" type="submit" class="btn  btn-lg btn-block" (click)="submitForm()">Login</button>
    </div>
  </div>
</div>