<div *ngIf="isAdmin" class="card">
    <div class="card-body" style="height:70vh">
        <div class="row mx-2">
            <div class="col-md-6">
                <h2 class="bolded"> Department List</h2>
            </div>
            <div class="col-md-6">

            </div>
        </div>

        <div class="row mx-2">
            <div class="col-6">

                <span>
                    Show
                    <select style="padding: 3px;" (change)="setItemsPerPage(page_items.value)" #page_items>
                        <option selected>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                    entries
                </span>

            </div>
            <div class="col-md-6">
                <div class="row justify-content-end">
                    <div class="w-auto">
                        <input type="text" class="search-box" placeholder="Search..." [(ngModel)]="search_key"
                            (keyup.enter)="getDepartmentList(1)" />
                        <span class="clear-field" (click)="cancel()"
                            *ngIf="search_key && search_key !== ''">&#10006;</span>
                        <span (click)="getDepartmentList(1)">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <button class="btn btn-primary w-auto mx-2" (click)="openDepartmentModal(add,'add','')">Add
                        Department</button>
                    <button type="button" class="btn btn-outline-secondary w-auto" routerLink="//forms/section"><i
                            class="fas fa-arrow-left"></i>Back</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">

            <div class="scroll">
                <table class="table table-light border " id="tags-table">
                    <thead>
                        <tr>
                            <th><span class="mx-3"> S.No </span> </th>
                            <th>Department Name</th>
                            <th>Employee Count</th>
                            <th>Created By</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            *ngFor="let list of departmentList | paginate : { id: 'server', itemsPerPage: per_page, currentPage: page_no, totalItems: total };let i = index ">

                            <td> <span class="mx-3"> {{i+ 1}} </span> </td>
                            <td>{{list.department_name}}</td>
                            <td></td>
                            <td>{{getUser(list.created_by)}}</td>
                            <td>{{list.is_Active ? 'Active' : 'In-Active'}}</td>
                            <td>
                                <button (click)="openDepartmentModal(add,'edit',list)"
                                    class="btn btn-primary btn-sm top ">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="departmentList?.length == 0">
                            <td colspan="9" class="text-center">No Department List Found</td>
                        </tr>
                    </tbody>



                </table>

            </div>


            <!-- <table *ngIf="departmentList.length > 0" class="rpt-count pagination-view" width="100%" style="display: table;">
                <tbody>
                    <tr>
                        <td> <span class="compliance_count">Showing {{ showing_from }} to {{ showing_to }} of {{
                                total }} entries </span>
                        </td>

                        <td style="text-align:right;padding-right:10px;">
                            <div class="has-text-centered">
                                <pagination-controls (pageChange)="getDepartmentList($event)" id="server"></pagination-controls>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>
<!--  -->
<!-- MOBILE  -->
<div *ngIf="!isAdmin" class="container my-3">
    <div>
        <button style="width:100%" (click)="openDepartmentModal(add,'add','')"
            class="btn btn-primary btn-lg btn-block">{{addButton}}</button>
    </div>
    <div class="row my-2">
        <div class="col-md-4 my-2 flex-center" *ngFor="let list of departmentList">
            <div class="card card-data">
                <div class="card-body" (click)="openDepartmentModal(add,'edit',list)">
                    <div class="card-title  display-6">
                        <span class="bold">{{list.department_name}}</span>
                    </div>
                    <div class="flex-space-between">
                        <div>
                            <div class="bold">Empoyee Count </div>
                            <!-- <div>{{list.emp_count}}</div> -->
                            <div>0</div>
                        </div>
                        <div>
                            <div class="bold">Created By</div>
                            <div>{{getUser(list.created_by)}}</div>
                        </div>
                        <div>
                            <div class="bold">Is Active : </div>
                            <div>{{list.site_life ? 'Active' :
                                'In-Active'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL  -->
<ng-template #add let-modal>
    <div class="modal-content">
        <div class="modal-header bg-primary flex-center">
            <div *ngIf="isAdd" class="fwd-bold">ADD DPARTMENT</div>
            <div *ngIf="!isAdd" class="fwd-bold">UPDATE DPARTMENT</div>
        </div>
        <div class="modal-body">


            <form [formGroup]="departmentForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="required">Department Name</label>
                        <input type="text" formControlName="depName" class="form-control" name="depName"
                            placeholder="Department Name" required="">
                    </div>

                    <!-- <div class="form-group col-md-6 mt-2">
                        <label class="required">Department ID</label>
                        <input type="number" formControlName="depID" class="form-control" name="depId" placeholder="Department Id" required="">
                    </div> -->
                    <div class="form-group col-md-6 mt-2">
                        <label>Status</label>
                        <select formControlName="isActive" class="form-control" name="status">
                            <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
                        </select>
                    </div>

                </div>


            </form>


        </div>
        <div class="modal-footer flex-center">
            <button *ngIf="isAdd" class="btn btn-primary" (click)="addDepartment()">Add</button>
            <button *ngIf="!isAdd" class="btn btn-primary" (click)="updateDepartment()">Update</button>
            <button class="btn btn-outline-secondary" (click)="close()">Close</button>
        </div>
    </div>
</ng-template>